@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-bg: hsl(148, 38%, 91%);
  --primary-color: hsl(169, 82%, 27%);
  --error-color: hsl(0, 66%, 54%);
  --form-bg-color: hsl(0, 0%, 100%);
  --neutral-color: hsl(186, 15%, 59%);
  --neutral-dark-color: hsl(187, 24%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Karla, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}

form {
  background-color: var(--form-bg-color);
  border-radius: 8px;
  padding: 40px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  position: relative;
}

h1 {
  color: var(--neutral-dark-color);
  font-weight: bold;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

label,
legend {
  font-size: 16px;
  margin-bottom: 8px;
  color: var(--neutral-dark-color);
}

span {
  color: var(--primary-color);
  padding-left: 5px;
}

input[type="text"],
input[type="email"],
textarea,
fieldset div {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--neutral-color);
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

fieldset {
  border: none;
}

fieldset div {
  margin-top: 10px;
  padding: 10px 30px;
  cursor: pointer;
}
textarea {
  resize: none;
}

input[type="checkbox"] {
  cursor: pointer;
}

.check {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0 0 0;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  background-color: var(--primary-color);
  color: var(--form-bg-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--neutral-dark-color);
}
.error-message {
  color: var(--error-color);
  margin-top: 5px;
}
input:hover,
fieldset div:hover {
  border-color: var(--neutral-dark-color);
}
.radio-container.selected {
  background-color: var(--primary-bg);
  border-color: var(--primary-color);
}

label {
  cursor: pointer;
}
.success {
  display: none;
  background-color: var(--neutral-dark-color);
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 2px;
  z-index: 2;
}
.success h5 {
  display: flex;
  align-items: center;
  color: var(--form-bg-color);
  margin-bottom: 10px;
}
.success h5 img {
  padding-right: 10px;
}
.success p {
  font-size: 9px;
  color: var(--primary-bg);
}
input[type="checkbox"]:checked {
  accent-color: var(--primary-color);
}
input[type="radio"]:checked {
  accent-color: var(--primary-color);
}

input.error,
textarea.error,
fieldset.error div {
  border-color: var(--error-color);
}

input.success,
textarea.success,
fieldset.success div {
  border-color: var(--primary-color);
}
@media (min-width: 1440px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: row;
  }

  .row .input-container {
    flex: 1;
    min-width: 0;
    width: 200px;
  }

  fieldset {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
